* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #cbcbcb;
}
h1 {
    margin-top: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}
.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
    padding-left: 2vw;
    padding-right: 2vw;
}
.containers > div{
    position: relative;
    justify-content: space-around;
    background-color: #979797cf; 
    border: 2px solid #524d4d;  
    margin-top: 3vh;           
    text-align: center;
}
.heading {
    position: absolute;
    border: 2px solid #524d4d;   
    top: 0;
    margin: -2px;
    right: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 600;
}
p {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 1px;
    font-size: 25px;
}
.Chicken > .heading {
    background-color: #a5a688;
}
.Beef > .heading {
    background-color: #a27575;
}
.Vegtables > .heading {
    background-color: #90b899;
}
@media (min-width: 992px) {
    .containers > div{
        width: 32%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .Chicken, .Beef{
        width: 48%;
    }
    .Vegtables {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .containers > div{
        width: 100%;
    }
}